<h1 class="my-5">Proyectos</h1>


<div class="row">

    <div class= "col-md-4 py-5">
        <div class="card">
            <%= image_tag 'sitio-web-1.webp' , class:"card-img-top", alt:"hola" %>
            <div class="card-body">
                <h5 class="card-title">Sitio Web Perfecta Pizza</h5>
                <p class="card-text">Desarrollo sitios web modernos y funcionales, centrados en la experiencia del usuario, con diseños atractivos y soluciones personalizadas.</p>
                <%= link_to 'Ver mas', '/projects', class:'btn btn-purple'%>
            </div>
        </div>
    </div>

    <div class= "col-md-4 py-5">
        <div class="card ">
            <%= image_tag 'sitio-web-2.jpg' , class:"card-img-top", alt:"hola" %>
            <div class="card-body">
                <h5 class="card-title">Plantilla Sitio web</h5>
                <p class="card-text">Desarrollo sitios web modernos y funcionales, centrados en la experiencia del usuario, con diseños atractivos y soluciones personalizadas.</p>
                <%= link_to 'Ver mas', '/projects', class:'btn btn-purple'%>
            </div>
        </div>
    </div>

    <div class= "col-md-4 py-5">
        <div class="card ">
            <%= image_tag 'sitio-web-3.webp' , class:"card-img-top", alt:"hola" %>
            <div class="card-body">
                <h5 class="card-title">Techno IA, Sitio web</h5>
                <p class="card-text">Desarrollo sitios web modernos y funcionales, centrados en la experiencia del usuario, con diseños atractivos y soluciones personalizadas.</p>
                <%= link_to 'Ver mas', '/projects', class:'btn btn-purple'%>
            </div>
        </div>
    </div>
    

</div>